.content {

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.boadrs {
    display:flex;

}

.workspace_content {
    display:flex;
    flex-direction: row;
}

.title {
    margin-top: 10px;
    width: 100%;
    color: darkblue;
}